*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{

    --ff-primary: 'Nunito', sans-serif;
    --ff-secondary: 'Rubik', sans-serif;

    --fx-reg: 300;
    --fw--bold: 900;

    --clr-light:#fff;
    --clr-dark: #000000;
    --clr-accent: #5cfff7;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bsh: .25em .25em .75em rgba(48, 48, 48, 0.25), 
           .125em .125em .25em rgba(48, 48, 48, 0.15);
}

@media (min-width: 800px)
{
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
   
}

/* -- Generel Styles -- */
body{
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1;
    letter-spacing: 1px;
}

section{
    padding: 1em 2em;
}

img{
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw--bold);
}

/* -- Typography -- */

h1,h2,h3{
    line-height: 1.1;
    margin: 0;
}

h1
{
    font-size: var(--fs-h1);
}

h2
{
    font-size: var(--fs-h2);
}

h3
{
    font-size: var(--fs-h3);
}

.logo{
    font-family: var(--ff-secondary);
    letter-spacing: 2.5px; 
    /*margin-top: .5em;
    margin-left: .25rem;*/
}


.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: var(--fw--reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle--intro{
    font-weight: var(--fw--bold);
}
.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,.section__subtitle--about
{
    background: var(--clr-accent);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    padding-top: .3em;
    padding-bottom: .3em;
    margin-bottom: 1em;
}

.section__title--about::after{
    content: '';
    display: block;
    width: 4.5em;
    height: 2px;
    margin-top: .2em;
    background: var(--clr-accent);
}


/* -- header -- */
nav{
    display: none;
}

/* -- Intro Section -- */ 
.intro{
    position: relative;
}

.intro__img{
    box-shadow: var(--bsh);
}

.section__subtitle--intro{
    display: inline-block;
    padding: .4em .4em;
}
@media (min-width: 600px)
{
   .intro {
       display: grid;
       width: min-content;
       margin: 0 auto;
       grid-column-gap: 1em;
       grid-template-areas: 
            "img title"
            "img subtitle";
       grid-template-columns: min-content max-content;
   }
   

   .intro__img{
       grid-area: img;
       min-width: 140px;
       position: relative;
       z-index: 2;
   }

   .section__subtitle--intro{
       align-self: start;
       grid-column: -1/1;
       grid-row: 2;
       text-align: right;
       position: relative;
       left: -1rem;
       width: calc(100% + 1.5em);
       padding-right: .5em;
   }
}

/* -- About Me Section -- */ 

.section__paragraph--introduction{
    position: relative;
    text-align: justify;
    line-height: 1.5;
}

.section__title--skillHeading::after{
    content: '';
    display: block;
    width: 2.5em;
    height: 2px;
    margin-top: .2em;
    background: var(--clr-accent);
}

/* -- Skills and Resume Section -- */

.skills{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    margin: 1.5em 0;
    border: solid 2px var(--clr-light);
    border-radius: 25px;
    color: var(--clr-accent);
}

.skill{
    margin-bottom: 2em;
    margin-left: 2.5em;
    display: flex;
}

.skill__logo{
    margin-right: .5em;
}
.custom__icon{
    width: 32px;
}

.resume{
    color: var(--clr-light);
    text-align: center;
}

.button{
    margin: .5em;
    padding: .5em .6em;
    background: var(--clr-accent);
    border: none;
    border-radius: 5px;
}

.button:hover{
    background: var(--clr-light);
}

.btn{
    text-decoration: none;
    color: var(--clr-dark);
}

/* -- Portfolio Projects -- */
.section__title--projects::after{
    content: '';
    display: block;
    width: 3.5em;
    height: 2px;
    margin-top: .2em;
    background: var(--clr-accent);
}

/* -- Footer -- */

.contact__details{
    margin: 1em 0;
    background: var(--clr-accent);
}

.links__list{
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.link{
    margin-right: 2em;
}

.footer__link{
    text-decoration: none;
    color: var(--clr-dark);
}


